img {
    width: 450px;
}
body {
    text-align: center;
    font-family: 'Franklin Gothic large';
background: rgb(255, 255, 255);
color:rgb(170, 4, 4)
}
a{
    color:brown;
}
a:hover{
    color:blue
}
a:visited{
    color:green
}