body {
    background-color: rgb(73, 0, 0);
}
.navbar {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    font-family: 'Exo 2', sans-serif;
    background: rgb(122, 0, 0);
    padding: 18px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #3d0a0a;
}
.logo {
    color: white;
    font-size: 30px;
    font-weight: 900;
    font-style: italic;
    letter-spacing: 1px;
}
.logo span {
    color: #e8e8e8;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 36px;
    margin: 0;
    padding: 0;
}
.nav-links a {
    color: #ccc;
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
}
.nav-links a.active {
    color: white;
    border-bottom: 2px solid #cc0000;
    padding-bottom: 4px;
}
.nav-links a:hover {
    color:white;
}
.icon {
    font-size: 50px;
    margin-bottom: 15px;
}
.cards {
    text-align: center;
    width: 90%;
    margin: auto;
    margin-top:250px;
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.card {
    width: 280px;
padding: 30px;
    height: 220px;
    border-radius: 15px;
    background: rgba(20,20,20,.9);
    border: 1px solid #a30000;
    border-radius: 15px;
    padding: 25px;
    color: white;
    transition: 3s;
    cursor: pointer;
}
.card:hover {
    transform: translateY(-10px);
    box-shadow:0 0 20px crimson;

}

.card h3 {
        font-family: 'Exo 2' , sans-serif;
    font-size: 30px;
    margin-bottom: 15px;
}
.card p {
    font-family: 'Exo 2' , sans-serif;
    color:#ccc;
    font-size: 20px;
}
.hero {
    text-align: center;
    color: white;
    margin-top: 180px;
}
.hero h1 {
    font-size: 64px;
    font-family:'Exo 2' , sans-serif ;
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 15px;
}
.hero span {
    color:#ff2d2d;
}
.hero p {
    font-family: 'Exo 2' , sans-serif;
    font-size: 22px;
    color: #ddd;
}